@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fadeup-animation {
  opacity: 0;
  animation: fadeup 300ms ease-in-out forwards;
}  
.fadeup-animation:hover {
  translate: 0px -10px ;
  @apply shadow-lg border-sky-200
}